<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>testTransForm.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B5C1A5761DADC6B40006B57B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5C1A58F1DADC6B70006B57B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5C1A59A1DADC6B70006B57B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
